<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no" />
    <title>delimited | Chord Transitions</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="../css/app.css">
    <script src="../node_modules/modernizr/modernizr.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>

    <style type="text/css">
    a:link {
    width: 100px;
    padding: 10px;
    margin: 0;
    position: absolute;
    right: 190px;
    }
    </style>

  </head>
  <body ng-app="app" ng-cloak ng-controller="mainCntrl">

  <li>
      <a href="../../index.html">Home</a>
  </li>

    <div class="row">
      <div class="large-12 columns">
        <h1 style="font-size:170%;">NBA Player Transactions <small>(2009 - 2018)</small></h1>
        <hr/>
      </div>
    </div>

    <div class="row" style="position:relative;">

      <aside class="large-2 small-2 columns panel years">
        <h5>Season</h5>
        <ul class="side-nav">
          <li ng-repeat="year in years">
            <input ng-model="$parent.selected_year" type="radio" name="years" ng-value="year" id="year_{{ year }}">
            <label for="year_{{ year }}">{{ year }}</label>
          </li>
        </ul>
      </aside>

      <div class="large-7 small-6 columns" role="content">
        <article>
          <chord-diagram></chord-diagram>
          <h6 class="text-center">NBA Transaction in <span>{{ selected_year }}</span></h6>
        </article>
      </div>

<aside class="large-3 small-4 columns">
<h6>Teams</h6>
<div style="font-size:10px; margin: 15px; opacity: 0.5;">
<li>OKC - Oklahoma City Thunder</li>
<li>MEM - Memphis Grizzlies</li>
<li>NYK - New York Knicks</li>
<li>CHI - Chicago Bulls</li>
<li>GSW - Golden State Warriors</li>
<li>MIL - Milwaukee Bucks</li>
<li>NOH - New Orleans Hornets</li>
<li>LAC - LA Clippers</li>
<li>MIN - Minnesota Timberwolves</li>
<li>NJN - New Jersey Nets</li>
<li>WAS - Washington Wizards</li>
<li>MIA - Miami Heat</li>
<li>ORL - Orlando Magic</li>
<li>TOR - Toronto Raptors</li>
<li>SAC - Sacramento Kings</li>
<li>POR - Portland Trail Blazers</li>
<li>CLE - Cleveland Cavaliers</li>
<li>PHI - Philadelphia 76ers</li>
<li>SAS - San Antonio Spurs</li>
<li>CHA - Charlotte Hornets</li>
<li>HOU - Houston Rockets</li>
<li>PHX - Phoenix Suns</li>
<li>BOS - Boston Celtics</li>
<li>DEN - Denver Nuggets</li>
<li>DAL - Dallas Mavericks</li>
<li>LAL - Los Angeles Lakers</li>
<li>UTA - Utah Jazz</li>
<li>ATL - Atlanta Hawks</li>
<li>IND - Indiana Pacers</li>
<li>DET - Detroit Pistons</li>
<li>BKN - Brooklyn Nets</li>
<li>NOP - New Orleans Pelicans</li>
</div>
</aside>
      <fieldset id="tooltip" class="row secondary">
        <div class="large-12 small-12 columns">
          <h6>{{ tooltip.sname }} signed {{ qFormat(tooltip.svalue) }} players from {{ tooltip.tname }} </h6>
        </div>
        <div class="large-12 small-12 columns">
          <h6>{{ tooltip.tname }} signed {{ qFormat(tooltip.tvalue) }} players from {{ tooltip.sname }}</h6>
        </div>
      </fieldset>

    </div>

    <script src="../node_modules/d3/d3.js"></script>
    <script src="../node_modules/foundation-sites/dist/js/foundation.js"></script>
    <script src="../js/mainController.js"></script>
    <script src="../js/matrixFactory.js"></script>
    <script src="../js/chordDirective.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
